export(liblinear)
export(liblinear.new)
export(read.svmlight)
export(write.svmlight)
S3method(liblinear,dgCMatrix)
S3method(liblinear,liblinearProblem)
S3method(predict,liblinear)
S3method(print,liblinear)
useDynLib(sparsity,sparsity_createProblemInstance)
useDynLib(sparsity,sparsity_liblinearTrain)
useDynLib(sparsity,sparsity_readSvmLight)
useDynLib(sparsity,sparsity_writeSvmLight)
